h1, h2, p, a {
    color: white;
}

#makewhite {
    color:white;
}

#makepink {
    color: rgb(252, 215, 221);
}

#bgimg {
 background-color: #393939;
}

#howtoboxcolor {
    background-color: #D37984;
   }

#diceRed {
    background-color: rgb(167, 17, 6)
    }

.diceImg {
    padding-top:22em;
    width:250px;
    height:auto;
    margin: 0 auto
}



#heroimg {

    background-image: url("./images/diceLifeText.svg") ;
    background-color: #393939;
  background-repeat: no-repeat;
  /* background-position: center; */
  background-position: 0px -70vh;

  background-size: cover;

}

@media (max-width: 900px) {
    #heroimg {
        background-position-x: center;
        background-position-y: -20vh;

    }
}

@media (max-width: 1300px) and (min-width: 900px) {
    #heroimg {
        background-position-x: center;
        background-position-y: -40vh;

    }
}

#headerimg {

    background-image: url("./images/dicelife-xsm.svg") ;
    background-color: #393939;
  background-repeat: no-repeat;
  background-size:cover;
  height: 300% !important;


}


.indexHero {
    height: 100vh;
}

.indexTitles {
    margin-top: 5vh;
}

.hero-head, .hero-foot {
    height: 22vh;
}

.page-head {
    height: 12vh;
}

.hero-bod {
    height: 70vh;
}

#login {
    padding-top: 50em;
}

#homebuttons {
    height: 10vh;

}

.HomeButtons {
    padding-top: 10em
}



#makeblack {
    color:black;
}

#blurb {
    padding-bottom: 3em;
}

#alldicepadding {
    padding-bottom: 3em;
}

#allDice{
    padding-top:3em
}

.greybg {
    background-color: #393939;
}

.specificDiceTitle {
    padding-top: 8vh;
}
.animations{
    padding-top: 20vh;
}

/* Add space between buttons */
.button.is-danger {
  margin-right: 1em;
}

/* Make create dice link visible on hover */
a.create:hover {
  color: #FFF;
  font-weight: bold;
  padding: .5rem 1rem;
}

/* Move create dice link off bottom of page */
div.alldice, div.animations, div.addDice {
 margin: 7em
}

/* Text on if 7 roll again screen */
div.roll_again p {
  font-size: 1.4em;
  margin-top: 1em;
}

/* Target HowTo text */
.HowTo p {
  font-size: 1.4em;
  margin-bottom: 1em;
}

div.button.is-danger {
    margin-right: 1em;
}

img#animation1, img#animation2 {
  width: 120px;
  padding-right: 1em;
  animation: bounce 1s infinite;
}

div.dice_images img {
  width: 120px;
  padding-right: 2em;
  animation: pulse 1s;
  animation-fill-mode: forwards
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0)
  } 50% {
    transform: translate(0, 20px)
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  } 100% {
    transform: scale(1.2);
  }
}

#howto-overlay {

background-color: #393939d3;

}

/* #rolldicebuttonstyling {
    margin-bottom: 1em;
    background-color: #393939d3;
    padding-top:5em
} */

.hero-body.lessbottompadding {
    padding-bottom: 1em !important;
}
#rotatingWord {
    font-family: 'Gloria Hallelujah', cursive;
}


div#rolldicebuttonstyling, .delete-button , div.specificDiceFooter, div.action-buttons{
  margin-bottom: 1em;
}

/* div#rolldicebuttonstyling {
  font-size: 1.8rem;
  font-family: 'Gloria Hallelujah', cursive;
  background-color: #a71106;
  font-weight: bold;
  text-shadow: 2px 2px #111;
} */

.spacing {
    margin: 80px;
    padding: auto;
}
