h1, h2, p, a {
    color: white;
}

#makewhite {
    color:white;
}

#bgimg {
 background-color: #393939;
}

#howtoboxcolor {
    background-color: #D37984;
   }

#heroimg {

    background-image: url("./images/sihouette.svg") ;
    background-color: #393939;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
   /* width: 150% !important;  */
}

#headerimg {

    background-image: url("./images/sihouette.svg") ;
    background-color: #393939;
  background-repeat: no-repeat;
  /* background-position: center;
  background-size: cover; */
  height:200% !important;


}


.indexHero {
    height: 100vh;
}

.indexTitles {
    margin-top: 5vh;
}

.hero-head, .hero-foot {
    height: 15vh;
}

.hero-bod {
    height: 70vh;
}

#homebuttons {
    height: 15vh;
}

#makeblack {
    color:black;
}

#blurb {
    padding-bottom: 3em;
}

#alldicepadding {
    padding-bottom: 3em;
}

.greybg {
    background-color: #393939;
}

.specificDiceTitle {
    padding-top: 15vh;
}
.animations{
    padding-top: 20vh;
}

/* Add space between buttons */
.button.is-danger {
  margin-right: 1em;
}

/* Make create dice link visible on hover */
a.create:hover {
  color: #FFF;
  font-weight: bold;
  padding: .5rem 1rem;
  background-color: #292929;
}

/* Move create dice link off bottom of page */
div.alldice, div.animations {
  margin-bottom: 2em;
}

/* Text on if 7 roll again screen */
div.roll_again p {
  font-size: 1.4em;
  margin-top: 1em;
}

/* Target HowTo text */
.HowTo p {
  font-size: 1.4em;
  margin-bottom: 1em;
}

div.button.is-danger {
    margin-right: 1em;
}

img#animation1, img#animation2 {
  width: 120px;
  padding-right: 1em;
  animation: bounce 1s infinite;
}

div.dice_images img {
  width: 120px;
  padding-right: 2em;
  animation: pulse 1s;
  animation-fill-mode: forwards
}

@keyframes bounce {
  0%, 100% {
    transform: translate(0, 0)
  } 50% {
    transform: translate(0, 20px)
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.5);
  } 100% {
    transform: scale(1.2);
  }
}

#howto-overlay {
   
background-color: #393939af;
   
}

#PossibleFont {
font-family: 'Bree Serif', serif;
color: white; text-shadow: black 0.1em 0.1em 0.2em
}

#toppaddingforbanner {
    padding-top: 10vh;
}
