/* h1, h2, a, p {
    color: white;
} */

#bgimg {
    background-color: #000000;
background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
/* height: 100v */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.indexHero {
    height: 100vh;
}

.indexTitles {
    margin-top: 5vh;
}

.hero-head, .hero-foot {
    height: 15vh;
}

.hero-bod {
    height: 70vh;
}